---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Fotos Equipo 1">
	<main>
        <section>
            <h1>
                Galeria
            </h1>
        </section>	
	</main>
</Layout>