---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Second from '../components/Second.astro'
import Third from '../components/Third.astro'
import Fourth from '../components/Fourth.astro'
---
<Layout title="Inicio-Equipo1">
	<main>
    <Hero/>
    <Second/>
	<Third/>
	<Fourth/>
	</main>
</Layout>