<!-- ---
import Layout from '../layouts/Layout.astro'
import Info from '../components/Info.astro'
---
<Layout title="Trabajos del Equipo">
	<main class="bg-white px-4 py-12 sm:px-6 lg:px-8">
                <section class="mx-auto max-w-4xl">                        
                        <ul role="list" class="divide-y divide-gray-100">
                        <Info  />
                        </ul>	
                </section>
	</main>
</Layout> -->