---
import {getUserData} from '../services/services'
const data= await getUserData()
---

        <div>
           {
                data.map((item) => {
                     return (
                        <li  class="flex justify-between gap-x-6 py-5">
                        <div class="flex min-w-0 gap-x-4">
                          <img class="h-12 w-12 flex-none rounded-full object-cover  bg-gray-50" src="/img/Dios.png" alt=""/>
                          <div class="min-w-0 flex-auto">
                            <p class="text-sm font-semibold leading-6 text-gray-900">{item.nombre + " "+item.ap + " "+ item.am}</p>
                            <p class="mt-1 truncate text-xs leading-5 text-gray-500">Equipo1@example.com</p>
                          </div>
                        </div>
                        <div class="shrink-0 sm:flex sm:flex-col sm:items-end">
                          <p class="text-sm leading-6 text-gray-900">Miembro de Equipo 1</p>
                          <a href={`/works/${item.id_usuario}`} class="inline-flex items-center px-4 py-2 bg-gray-300 transition ease-in-out delay-75 hover:bg-gray-400 text-white text-sm font-medium rounded-md">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                            Ver trabajo
                        </a>

                        </div>
                      </li>
                     )
                })
           }
        </div>
