---
import ToolTipMenu from './ToolTipMenu.astro'
import  Home  from '../Icons/Home.astro'
import  Paint  from '../Icons/Paint.astro'
import  Bulb  from '../Icons/Bubble.astro'
import  Camera  from '../Icons/Camera.astro'
const options=[
    {name:'Inicio',url:'/',description:'Pagina principal'},
    {name:'Proyecto',url:'/Projects',description:'Proyectos realizados'},
    {name:'Clase',url:'/Work',description:'Trabajos realizados en clase'},
    {name:'Galeria',url:'/Galery',description:"Galeria de imagenes"},]
---
<section class="w-full flex justify-center items-center h-8 ">
    <nav transition:persist="" class="bottom-0 flex fixed z-10 max-w-64 w-full mb-3 scale-item">
        <ul class="flex w-full py-2 px-4 gap-x-4 justify-center items-center shadow-xl rounded-full">
           {
            options.map((option, index) => {
                return (
                <ToolTipMenu url={option.url} action={option.name} description={option.description}>
                    {option.name==='Inicio' && <Home class="w-8 h-8" />}
                    {option.name==='Proyecto' && <Paint class="w-8 h-8" />}
                    {option.name==='Clase' && <Bulb class="w-8 h-8" />}
                    {option.name==='Galeria' && <Camera class="w-8 h-8" />}
                </ToolTipMenu>
                )
            })
           } 
        </ul>
    </nav>
</section>
<style>
    /* Agrega estas clases a tu archivo CSS */

.scale-item {
    transition: transform 0.3s ease-in-out;
}

.scale-item:hover {
    transform: scale(1.2); /* Ajusta el valor de escala según tus preferencias */
}

/* Para los ítems no seleccionados, puedes agregar una transformación menor */
.scale-item:not(:hover) {
    transform: scale(1.1); /* Este será el efecto de "levantarse" ligeramente */
}

</style>