---
import ToolTipMenu from './ToolTipMenu.astro'
import  Home  from '../Icons/Home.astro'
import  Paint  from '../Icons/Paint.astro'
import  Bulb  from '../Icons/Bubble.astro'
import  Camera  from '../Icons/Camera.astro'
interface Props{
  titleButton: string,
}
  const {titleButton} =Astro.props
---
<nav class=" bg-background top-0 z-10 w-full">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <a href="./" class="flex items-center py-5 px-2 text-gray-700">
            <span class="font-bold">Equipo 1</span>
          </a>
        </div>
        <!-- primary nav -->
      </div>
      <div class="hidden md:flex items-center space-x-1">
      </div>
      <!-- secondary nav -->
      <div class="flex items-center space-x-1">
        {
          titleButton=="Galeria"?
          <a href="./" class="py-2 px-7 bg-black rounded-full text-gray-100 hover:text-gray-400">{titleButton}</a>
          :
          <a href="./Galery" class="py-2 px-7 bg-black rounded-full text-gray-100 hover:text-gray-400">{titleButton}</a>
        }
      </div>
      <!-- mobile button goes here -->
    </div>
  </div>
</nav>