---
import Container from "./Container.astro"
---
<Container>
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-2xl mb-2 text-gray-900">Conciencia sobre la Contaminación Acústica
        </h1>
        <div class="leading-relaxed">
            Campañas educativas han aumentado la conciencia pública sobre los efectos del ruido en la salud, llevando a un mayor compromiso ciudadano con el medio ambiente sonoro.
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-gray-900">75 dB"</h2>
        <p class="leading-relaxed"> Ruido Urbano</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-gray-900">150</h2>
        <p class="leading-relaxed">Ciudades Excedidas</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-gray-900">55%</h2>
        <p class="leading-relaxed">Nocturna Exposición</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-gray-900">$ 80M</h2>
        <p class="leading-relaxed">Investigación UE</p>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="/img/Research.webp" alt="stats">
    </div>
  </div>
</Container>